<div class="container-fluid">
    <div class="row">


        <div class="col-md-5 ">



            <div class="card mx-auto">
                <div class="card-body ">
                    <h5 class="card-title text-center">User List</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pl-0 pr-0" *ngFor="let contact of (contacts | async)">
                            <span>
                                <span class="badge badge-pill badge-success" *ngIf="contact.status=='online'">
                                    &nbsp;</span>
                                <span class="badge badge-pill badge-danger" *ngIf="contact.status!='online'"> &nbsp;
                                </span>
                                {{contact.name}} &nbsp; &nbsp;
                            </span>

                            <span>
                                <button type="button" class="btn btn-primary btn-sm" *ngIf="contact.status=='online'"
                                    (click)="voiceCall(contact.uid)"><i class="fas fa-phone-square-alt"></i>
                                    call</button>
                                &nbsp;
                                <button type="button" class="btn btn-success btn-sm" *ngIf="contact.status=='online'"
                                    (click)="videoCall(contact.uid)"><i class="fas fa-video"></i> call</button>
                            </span>



                        </li>

                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-7">
            <app-outgoing-call *ngIf="outgoingCall$ | async as outgoingCall" [call]="outgoingCall"></app-outgoing-call>
            <app-incoming-call *ngIf="incomingCall$ | async as incomingCall" [call]="incomingCall"></app-incoming-call>
            <app-ongoing-call *ngIf="ongoingCall$ | async as ongoingCall" [call]="ongoingCall"></app-ongoing-call>
            <div id="callScreen"></div>
        </div>
    </div>
</div>