<div class="container-fluid">
    <div class="row">


        <div class="col-md-5">

            <ul class="contacts">
                <h3>User List</h3>
                <li *ngFor="let contact of (contacts | async)" class="border-bottom">
                    {{contact.name}}:
                    <span class="badge badge-pill badge-success" *ngIf="contact.status=='online'"> &nbsp;</span>
                    <span class="badge badge-pill badge-danger" *ngIf="contact.status!='online'"> &nbsp;
                    </span>



                    <button type="button" class="btn btn-primary" *ngIf="contact.status=='online'"
                        (click)="voiceCall(contact.uid)"><i class="fas fa-phone-square-alt"></i> call</button>
                    &nbsp;
                    <button type="button" class="btn btn-success" *ngIf="contact.status=='online'"
                        (click)="videoCall(contact.uid)"><i class="fas fa-video"></i> call</button>

                </li>
            </ul>
        </div>
        <div class="col-md-7">
            <app-outgoing-call *ngIf="outgoingCall$ | async as outgoingCall" [call]="outgoingCall"></app-outgoing-call>
            <app-incoming-call *ngIf="incomingCall$ | async as incomingCall" [call]="incomingCall"></app-incoming-call>
            <app-ongoing-call *ngIf="ongoingCall$ | async as ongoingCall" [call]="ongoingCall"></app-ongoing-call>
            <div id="callScreen"></div>
        </div>
    </div>
</div>